.navbar-brand {
  font-size: 1.4em;
}

.navbar-dark .navbar-nav a.nav-link {
  color: #ffffff;
  font-size: 1.1em;
}

.dropdown-menu {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
  border-radius: 0;
  padding: 0.7em;
}

@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: flex;
  }

  .dropdown-menu.show {
    display: flex;
  }
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu li .dropdown-item {
  color: gray;
  font-size: 1em;
  padding: 0.5em 1em;
}

.dropdown-menu li .dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-menu li:first-child a {
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
  color: #516beb;
}

.dropdown-menu li:first-child a:hover {
  background-color: #f1f1f1;
}

@media only screen and (max-width: 992px) {
  .dropdown-menu.show {
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1140px) {
  .dropdown:hover .dropdown-menu {
    width: 40vw;
    flex-wrap: wrap;
  }
}

.dropdown-menu {
  border-radius: 0;
  border: none;
  padding: 0.5em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu li a {
  color: gray;
  padding: 0.5em 1em;
}

.dropdown-menu li:first-child a {
  font-weight: bold;
  font-size: 1.1em;
  color: #516beb;
}

@media screen and (min-width: 993px) {
  .dropdown:hover .dropdown-menu {
    display: flex;
  }

  .dropdown-menu.show {
    display: flex;
  }
}

@media screen and (max-width: 992px) {
  .dropdown-menu.show {
    max-height: 60vh;
    overflow-y: scroll;
  }
}


.bootstrap-select.open>.dropdown-menu {
  /*display: block;*/
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.bootstrap-select>.dropdown-menu {
  /*display: none;*/
  opacity: 0;
  max-height: 330px !important;
  visibility: hidden;
  overflow: hidden;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.85) translateY(-5px);
  -ms-transform: scale(0.85) translateY(-5px);
  transform: scale(0.85) translateY(-5px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
}

body {
  background: #D1DCE4;
  font-family: 'Roboto', sans-serif;
}

.box {
  width: 400px;
  height: 120px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

h2 {
  text-align: center;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}

.bootstrap-select>.dropdown-toggle {
  background: #EDF2F5;
  border: 0;
  width: 100%;
  display: block;
  padding: 16px 15px;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.030em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
  color: #000;
}

.dropdown-toggle::after {
  content: "";
  position: absolute;
  border-top: .5em solid;
  border-right: .5em solid transparent;
  border-bottom: 0;
  border-left: .5em solid transparent;
  right: 10px;
  top: 48%;
}

.dropdown-menu {
  box-shadow: 0px 0px 15px rgba(60, 76, 150, 0.1);
  -webkit-box-shadow: 0px 0px 15px rgba(60, 76, 150, 0.1);
  -moz-box-shadow: 0px 0px 15px rgba(60, 76, 150, 0.1);
  position: absolute;
  left: 0;
  background: #fff;
  min-width: 100% !important;
  width: 100% !important;
}

.bootstrap-select .dropdown-menu a {
  display: block;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.030em;
}



/* // Grid // */


.container-gd {
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.left-side {
  justify-self: start;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}

.content {
  padding-top: 20px;
  padding-left: 30px;
}


/* //Dropdown// */


.dropbtn {
  background-color: #687eee;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 6px;
  width: 450px;
  text-align: left;
  border: none;
  cursor: pointer;
  padding-left: 30px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #a5b0e4;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #a5b0e4;
}